

* {
  margin:0px;
  padding:0px;
  font-family: Arial, Helvetica, sans-serif;
}


  
}


 p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 15px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

h1 { text-align: center; }


#para1 {
  text-align: left;
  color: black;
}
  
#para2 {
  text-align: center;
  color: red;
}
  
 #para3 {
  text-align: right;
  color: brown;
}
li {
  display: inline;
}
li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
  text-decoration: none;
}
