

* {
  margin:25px 50px;
  padding:0px;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  background-color: yellow;
  list-style-type: none;
  text-align: center; 
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.topnav a {
  display: inline-block;
  background-color: #dddddd;
  font-size: 20px;
  padding: 20px;
}

}
  
}


 p {
  display: block;
  width: 400px;
  margin: 50px auto;
}

h1 { text-align: center; }


#para1 {
  text-align: left;
  color: black;
}
  
#para2 {
  text-align: center;
  color: red;
}
  
 #para3 {
  text-align: right;
  color: brown;
}
/*
a {
  display: inline;
  float: none;
  display: block;
  padding: 8px;
  background-color: #dddddd;
  text-decoration: none;
} */
